html
 head
  title Tweet
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")

 body
  
  div.col-lg-6
   h1=message
   block content
   form(method="POST", action='showUserTweets').form-group
    div.input-group
     input(type="text", name="userName").form-control
     input(type="submit", value="Search", class="btn btn-info")
  
   if (typeof(data) !== 'undefined')
    table.table
     thead.thead-inverse
      tr
       td <strong> Tweet </strong>
       td <strong> Likes </strong>
       td <strong> Shares </strong>
       td <strong> Replies </strong>
     tbody
      for tweet in data
       tr
         td= tweet.tweet_text
         td= tweet.likes
         td= tweet.replies
         td= tweet.shares 
  
  script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
  
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")